.edit {
  display:flex;
  flex-direction: column;
  margin:auto;
  width: 30%;
  height: 100vh;
  align-items: center;
}

.upload {
  margin-bottom: 10px;
}

.file_upload{
  display:flex;
  flex-direction: column;
}

.user_images {
  display:flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.user_image{
  width: 300px;
}