.title {
  font-size: 72px;
  text-align: center;
}

.generate {
  display:flex;
  flex-direction: column;
  margin:auto;
  width: 30%;
  height: 100vh;
  align-items: center;
}

.generate_form {
  display:flex;
  flex-direction: column;
  max-width: auto;
}

.description {
  width: 100%;
  margin-bottom: 10px;
}

.result {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.result_text {
  margin-bottom: 10px;
}

.result_image {
  width: 500px;
}